@import "src/change.scss";
.c_odds_title, .c_odds_value {
   
    height: 36px;
}

.casino-detail{
    margin-left: 12px;
    width: 97.2%;
    position: inherit;
}
.result-card {
    text-align: center;
    margin-top: 10px;
}