@import "src/change.scss";
.c_odds_title, .c_odds_value {
   
    height: 36px;
}

.casino-section{
    width: 96.5%;
    margin-left: 12px;
}

.result-card {
    text-align: center;
    margin-top: 10px;
}