


 <div  class="wrapper-inner user_screen">
    <h2  class="user-title">change password</h2>
    <div  class="border border-light">
<form  [formGroup]="ChangePwdForm" (ngSubmit)="changePwd()">
    <div  class="form-group row">
        <div  class="col-md-4 col-12">
<label >Current Password</label>
<input  type="password" id="oldPwd" formcontrolname="oldPwd" class="form-control"  [ngClass]="{'is-invalid': submitted && f['oldPwd'].errors}"   >
<div *ngIf="submitted && f['oldPwd'].errors" class="invalid-feedback">
  <div *ngIf="f['oldPwd'].errors['required']">Please enter current password</div>
</div>
</div>
</div>
<div  class="form-group row">
    <div  class="col-md-4 col-12">
    <label >New Password</label>
    <input  type="password" id="newPwd" formcontrolname="newPwd" class="form-control"  minlength="5"  >
                        <div *ngIf="submitted && f['newPwd'].errors" class="invalid-feedback">
                          <div *ngIf="f['newPwd'].errors['required']">Please enter new password </div>
                       </div>
<!-- <input  type="password" id="newPwd" formcontrolname="newPwd" class="form-control"  minlength="5"  > -->
<!-- <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
    <div *ngIf="f['password'].errors['required']">Password is required</div>
    <div *ngIf="f['password'].errors['minlength']">
      Password must be at least 6 characters
    </div>
    <div *ngIf="f['password'].errors['maxlength']">
      Username must not exceed 40 characters
    </div>
  </div> -->
</div>
</div>
<div  class="form-group row">
    <div  class="col-md-4 col-12">
<label >Confirm New Password</label>
<input  type="password" id="retypePwd" formcontrolname="retypePwd" class="form-control"   [ngClass]="{'is-invalid': submitted && f['confirmpassword'].errors}" id="confirm_password" /> <span
id="confirm_password_msg"></span> 
<div *ngIf="submitted && f['confirmpassword'].errors" class="invalid-feedback">
  <div *ngIf="f['confirmpassword'].errors['required']">Please enter new confirm password </div>
  <div *ngIf="f['confirmpassword'].errors['mustMatch']">confirm password not match </div>
</div>
<!-- <div
*ngIf="submitted && f['confirmPassword'].errors"
class="invalid-feedback"
>
<div *ngIf="f['confirmPassword'].errors['required']">
  Confirm Password is required
</div>
<div *ngIf="f['confirmPassword'].errors['matching']">
  Confirm Password does not match
</div>
</div> -->

</div>
</div>
<div  class="form-group row">
<div  class="col-md-2 col-12">
<button  type="submit" class="btn btn-primary btn-block"  >Change Password</button>
</div>
</div>
</form>
</div>
</div> 

