@import "src/change.scss";


.c_odds_title, .c_odds_value {
    width: 104%;
    height: 33px;
}
.casinobetplace{
    width: 97.3%;
    margin-left: 12px;
}

// .casino-lastResult {
//     margin: 11px -25px;
//     width: 747px;
// }