@import "src/change.scss";

.casino_odds {
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 0px;
}
.c_odds_title, .c_odds_value {
   
    height: 36px;
}
.casino-section{
    width: 96.5%;
    margin-left: 12px;
}