<div class="warpper">
    <input class="radio" id="one" name="group" type="radio" checked>
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    <input class="radio" id="four" name="group" type="radio">
    <div class="tabs">
        <label class="tab" id="one-tab" for="one"><span>IN-PLAY</span></label>
        <label class="tab" id="two-tab" for="two"><span>SPORTS</span></label>
        <label class="tab" id="three-tab" for="three">
            <span>CASINO</span>
        </label>
        <label class="tab" id="four-tab" for="four">
            <span>OTHERS</span>
        </label>
    </div>
    <div class="panels">

        <div class="panel" id="one-panel">
            <div class="tab-wrap">
                <ul class="tab-list">
                    <ng-container *ngFor="let sport of sportList;trackBy:trackBySport; let index = index">
                        <li [ngClass]="{'active':index==0}">
                            <a data-toggle="tab">{{sport.name}} </a>
                        </li>
                    </ng-container>
                </ul>
                <div class="tab-items">
                    <div class="tab-item" [ngClass]="index==0 ? 'in' : ''" *ngFor="let data of sportList;trackBy:trackBySport; let index = index">
               
                        <div class="cri">
                       
                        <ul  role="tablist" class="nav nav-pills nav-fill" aria-label="Tabs">
                            <li  class="active nav-item">
                                <a  href="javascript:void(0);" role="tab" class="nav-link active" aria-controls="" aria-selected="true" id="">
                                    <span ></span>
                                    <div >
                                        <!-- <img  class="img-fluid" src="assets/images/4.png"> -->
                                        <b >{{data.name}}</b>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        
                        <div class="ng-star-inserted">
                           
                            <div class="row th-head">
                        
                                <div class="col-lg-7 col-md-5 col-6">
                                    <p>games</p>
                                </div>
                                <div class="col-lg-5 col-md-7 col-12 text-center px-xl-0 ng-star-inserted">
                                    <span>1</span>
                                    <span>X</span>
                                    <span>2</span>
                                </div>
                                </div>
                               
                                    <ng-container *ngFor="let sport of data.matches;trackBy:trackBySport;">
                                <div class="row td-body ng-star-inserted">
                                   
                                        
                                    <div class="col-md-4 col-lg-5 col-6">
                                        
                                        <a  routerLink="/sport-event/fullmarket" (click)="toggleFavourite(sport)" class="ng-star-inserted">
                                            <p> <span></span>
                                                <b> {{sport.matchName}} {{sport.startDate}}</b>
                                            </p>
                                        </a>
                                    </div>
                              
                                    <div class="col-md-1 col-lg-2 col-6 px-lg-0">
                                        <div class="game-icons ng-star-inserted">
                                            <span class="game-icon"><span class="active" *ngIf="sport.inPlay==1"></span></span>
                                            <span class="game-icon"><i class="fa fa-television" *ngIf="sport.videoEnabled"></i></span>
                                            <span class="game-icon"><img  src="assets/images/ic_fancy.png" class="fancy-icon" *ngIf="sport.isFancy"></span>
                                            <span class="game-icon"><img  src="assets/images/ic_bm (1).png" class="bookmaker-icon" *ngIf="sport.isBook"></span>
                                           
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12 d-sm-none d-block th-head text-center ng-star-inserted">
                                        <span>1</span>
                                        <span>X</span>
                                        <span>2</span>
                                    </div>
                                    
                                    <div class="col-md-7 col-lg-5 col-12 pr-xl-0">
                                        <div class="list-event-odds ng-star-inserted">
                                            <div class="btn-grp-cs">
                                                <button class="back">
                                                    <span class="odd">{{sport.runner1Back}}</span>
                                                </button>
                                                <button class="lay">
                                                    <span class="odd">{{sport.runner1Lay}}</span>
                                                </button>
                                            </div>
                                            <div class="btn-grp-cs">
                                                <button class="back">
                                                    <span class="odd">{{sport.runner3Back}}</span>
                                                </button>
                                                <button class="lay">
                                                    <span class="odd">{{sport.runner3Lay}}</span>
                                                </button>
                                            </div>
                                            <div class="btn-grp-cs">
                                                <button class="back">
                                                    <span class="odd">{{sport.runner2Back}}</span>
                                                </button>
                                                <button class="lay">
                                                    <span class="odd">{{sport.runner2Lay}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                             </ng-container>
                               
                            </div>
                                      
                        </div>
                        
                                        </div>
                  
                   
                </div>
            </div>
        </div>
        <div class="panel" id="two-panel">

        </div>
        <div class="panel" id="three-panel">

        </div>
        <div class="panel" id="four-panel">
            <p _ngcontent-paw-c78="">Comming Soon....</p>
        </div>
    </div>
</div>




<!-- <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="tab" role="tabpanel">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a routerLink="/sports/cricket"  aria-controls="home" role="tab" data-toggle="tab"><b>Cricket</b></a></li>
                    <li role="presentation"><a href="#football" aria-controls="profile" role="tab" data-toggle="tab"><b>Football</b></a></li>
                    <li role="presentation"><a href="#tennis" aria-controls="messages" role="tab" data-toggle="tab"><b>Tennis</b></a></li>
                    <li role="presentation"><a href="#election" aria-controls="election" role="tab" data-toggle="tab"><b>Election</b></a></li>
                    <li role="presentation"><a href="#one-day" aria-controls="oneday" role="tab" data-toggle="tab"><b> Teenpatti</b></a></li>
                    <li role="presentation"><a href="#roulette" aria-controls="roulette" role="tab" data-toggle="tab"><b>Roulette</b></a></li>
                    <li role="presentation"><a href="#up" aria-controls="up" role="tab" data-toggle="tab"><b>7 Up & Down</b></a></li>
                    <li role="presentation"><a href="#card" aria-controls="Card" role="tab" data-toggle="tab"><b>32 Card Casino</b></a></li>
                    <li role="presentation"><a href="#sicbo" aria-controls="sicbo" role="tab" data-toggle="tab"><b>Sicbo</b></a></li>
                    <li role="presentation"><a href="#poker" aria-controls="poker" role="tab" data-toggle="tab"><b>Poker</b></a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="cricket">

                                        </div>



                    <div role="tabpanel" class="tab-pane fade" id="profile">
abc
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="messages">
dbfdb
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="election">
bdfg
                     </div>
                     <div role="tabpanel" class="tab-pane fade" id="one-day">

                     </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- images -->


 <div class="dash_casino" *ngFor="let sport of sportList;trackBy:trackBySport; let index = index">
    <ng-container *ngIf="sport.isTeenpatti">
    <h2>live casino</h2>
    <div *ngFor="let data of sport.matches;trackBy:trackByEvent;let first=first">
    <a routerLink="/exchanges/{{data.matchName}}" (click)="toggleFavourite(data)">
        <div class="d-inline-block casinoicons">
            <img class="img-fluid" img src="assets/images/dcasino/{{data.matchName}}.jpg">
            <div class="casinoname">{{data.matchName}}</div>
        </div>
    </a>
</div>
  
    </ng-container>
</div>